* {
    margin:0;
    padding:0;
    box-sizing : border-box;
  }
  
  body {
    background : rgb(236, 236, 236);
  }

.logout {
    display :flex;
    flex-direction : column;
    align-items:center;
    justify-content:center;
    height:100vh;
    font-family : "Inter";
    
}

.logout__button {
    min-width:300px;
    padding:17px 30px;
    background : black;
    border:none;
    margin:30px;
    color:white;
    font-size:14px;
    font-family : "Inter";
    border-radius:5%;
    cursor:pointer;
}

.user__name {
    color:#8d0ada
}